.ui-window-modal,
#ModalOverlay {
	background-color : #000;
	cursor           : wait;
}

#ModalContainer {
	left : 50%;
	top  : 15%;
}

.ui-window .close,
.modalClose {
	z-index    : 100000;
	cursor     : pointer;
	display    : block;
	position   : absolute;
	height     : 20px;
	width      : 20px;
	right      : 10px;
	top        : 10px;
	background : url('close.gif') no-repeat;
}

.ui-window-modal-loading,
#ModalLoadingOverlay {
	background : #000;
	cursor     : wait;
}

.ui-window .loading,
#ModalLoadingIndicator {
	width       : 100px;
	height      : 100px;
	margin-left : -50px;
	margin-top  : -50px;
	background  : url(loading.gif) no-repeat;
	position    : fixed;
	top         : 50%;
	left        : 50%;
	z-index     : 30001;
}

.ui-window .content-container,
#ModalContentContainer {
	background : #fff url(background.gif) repeat-x left bottom;
}

.ui-window .title,
#ModalTitle, .ModalTitle {
	background    : #efefef;
	color         : #444;
	font-size     : 110%;
	font-weight   : bold;
	padding       : 10px 14px;
	border-bottom : 1px solid #777;
	text-align    : left;
}

.ui-window .content,
#ModalContent, .ModalContent {
	margin         : 14px;
	margin-top     : 8px;
	margin-bottom  : 8px;
	padding-bottom : 8px;
	text-align     : left;
	overflow       : auto;
}

.ui-window .with-buttons,
#ModalContentContainer .ModalContentWithButtons {
	border-bottom : 1px solid #757575;
	margin-bottom : 0;
}

.ui-window .buttons,
#ModalButtonRow, .ModalButtonRow {
	text-align  : right;
	border-top  : 1px solid #fff;
	margin      : 8px;
	margin-top  : 0;
	padding-top : 8px;
	height      : 30px;
}

.ui-window .buttons button,
#ModalButtonRow input, .ModalButtonRow input {
	text-align : center;
}

.ui-window .buttons button.submit,
#ModalButtonRow input.Submit, .ModalButtonRow input.Submit {
	font-weight : bold;
}

.ui-window .top-border,
#ModalTopBorder {
	position   : absolute;
	height     : 11px;
	background : url('border-topbottom.png') repeat-x  0 0;
	top        : -9px;
	left       : 12px;
	right      : 26px;
}

.ui-window .bottom-border,
#ModalBottomBorder {
	position   : absolute;
	height     : 15px;
	background : url('border-topbottom.png') repeat-x 0 -11px;
	bottom     : -7px;
	left       : 12px;
	right      : 26px;
}

.ui-window .right-border,
#ModalRightBorder {
	position   : absolute;
	background : url('border-sides.png') repeat-y 0 scroll;
	right      : -20px;
	width      : 20px;
	top        : 34px;
	bottom     : 32px;
}

.ui-window .left-border,
#ModalLeftBorder {
	position   : absolute;
	background : url('border-sides.png') repeat-y -37px scroll;
	left       : -20px;
	width      : 20px;
	top        : 34px;
	bottom     : 31px;
}

.ui-window .top-right-corner,
#ModalTopRightCorner {
	position   : absolute;
	background : url('border-corners.png') no-repeat -22px 0;
	top        : -6px;
	height     : 40px;
	right      : -14px;
	width      : 40px;
}

.ui-window .top-left-corner,
#ModalTopLeftCorner {
	position   : absolute;
	background : url('border-corners.png') no-repeat 0 0;
	top        : -6px;
	height     : 40px;
	left       : -8px;
	width      : 20px;
}

.ui-window .bottom-right-corner,
#ModalBottomRightCorner {
	position   : absolute;
	background : url('border-corners.png') no-repeat -22px -23px;
	bottom     : -8px;
	height     : 40px;
	right      : -14px;
	width      : 40px;
}

.ui-window .bottom-left-corner,
#ModalBottomLeftCorner {
	position   : absolute;
	background : url('border-corners.png') no-repeat 0 -24px;
	bottom     : -9px;
	height     : 40px;
	left       : -8px;
	width      : 20px;
}